.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  padding: 26px 0 0 16px;
}

@media (min-width: 1120px) {
  .header {
    background: #F8F8F8;
  }
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1120px) {
  .header-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-header {
  height: 88px;
  padding: 19px 16px;
}

@media (min-width: 768px) {
  .container-header {
    padding: 19px 24px;
  }
}

@media (min-width: 1120px) {
  .container-header {
    margin: 42px 32px 0 0;
    padding: 0;
    height: auto;
  }
}
