.section {
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.section--mt40 {
  margin-top: 40px;
}

.section__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  font-weight: normal;
  margin: 0;
  border-top: 1px solid #D9FFF5;
  margin-bottom: 16px;
  margin-top: 24px;
  padding: 16px;
}

.read-more {
  display: block;
  position: relative;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
}

.read-more::before {
  content: "";
  width: 8px;
  height: 10px;
  position: absolute;
  background: url(../img/icon/readMor.svg);
}

.section__read-more::before {
  top: 6px;
  left: -20px;
}

.section__read-more {
  margin-left: 57px;
}

.section__read-more {
  margin-top: 10px;
}

.section__read-more--show {
  display: none;
}

.section__read-more--less {
  display: none;
  margin-top: 45px;
}

.section__read-more--less::before {
  background: url(../img/icon/read-less.svg);
}

@media (min-width: 768px) {
  .section__read-more--show {
    display: block;
  }
}
