.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider__item {
  display: block;
  padding: 8px 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-decoration: none;
  font-size: 16px;
  color: #7E7E82;
}

.slider__item--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background: white;
}

@media (min-width: 1120px) {
  .slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
