.slide-repair-techniques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-repair-techniques__name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
}

.slide-repair-techniques__link {
  display: block;
  min-width: 40px;
  height: 40px;
  background: transparent url(../img/icon/goBrend.svg);
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
}
