.swiper-container {
  width: 100%;
  padding-left: 4px;
  overflow-x: hidden;
}

.swiper {
  width: 304px;
  height: 98px;
  overflow: visible !important;
}

@media (min-width: 768px) {
  .swiper {
    width: auto;
    height: auto;
    overflow: hidden !important;
  }
  .swiper-wrapper {
    overflow: hidden !important;
  }
}

.swiper-wrapper {
  overflow: visible !important;
}

@media (min-width: 768px) {
  .swiper {
    margin: 0 0 0 24px;
  }
  .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .swiper-slide {
    width: auto;
    margin: 0 20px 16px 0;
  }
  .swiper-slide__slide-description:nth-of-type(8) ~ .swiper-slide__slide-description {
    display: none;
  }
}
