@import "vars-colors.scss";

.commercial-link {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	font-weight: 500;
	text-decoration: none;
	color: $textCol;
	transition: 0.5s;

	&__icon {
		display: inline-block;
		background: transparent url(../img/icon/arrowForLink.svg) no-repeat;
		width: 7px;
		height: 12px;
		vertical-align: middle;
		margin-left: 5px;
		transition: 0.8s;
	}

	&:hover{
		color: $borderBg;
	}

	&:hover &__icon{
		transform: translateX(20px);
	}

	&:active{
		transform: scale(1.05);
	}
}
