@import "vars-colors.scss";

.slider {
	display: flex;
	overflow-x: scroll;
	-ms-overflow-style: none;
    scrollbar-width: none;

	&::-webkit-scrollbar{
		display: none;
	}

	&__item {
		display: block;
		padding: 8px 14px;
		flex-shrink: 0;
		text-decoration: none;
		font-size: 16px;
		color: $greyText;
		transition: all 0.5s;

		&:hover{
			border: 2px solid $borderSlider;
			margin: 0 4px;
			background: white;
			color: black;
			border-radius: 6px;
			opacity: 0.7;
		}
	}

	&__item--active {
		border: 2px solid $borderSlider;
		border-radius: 6px;
		background: white;
	}

	@media (min-width:1120px){
	 	&{
			flex-wrap: wrap;
		}
	}
}
