@import "vars-colors.scss";

.table-price {
	width: 100%;
	box-sizing:border-box;
	border-collapse: collapse;



	&__row:nth-child(2) td:first-child {
        border-top-left-radius: 6px;
    }
    
    &__row:nth-child(2) td:last-child {
        border-top-right-radius: 6px;
    }


	&__row:last-child td:first-child {
        border-bottom-left-radius: 6px;
    }
    
    &__row:last-child td:last-child {
        border-bottom-right-radius: 6px;
    }

	&__title-row {
		background: $bgColor;
	}

	&__title-cell {
		padding: 16px 24px;
		color: $greyText;
		font-size: 14px;
		line-height: 16px;
	}

	&__row {
		background: white;
		border-radius: 6px;
		transition: 0.5s;
		&:not(&:last-child){
			border-bottom: 1px solid $pseudoCol;
		}
	
		&:hover{
			transform: translateX(4px);
		}
	
	}

	&__cell {
		padding: 20px 24px;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.2px;

		&:nth-child(n+4){
			text-align: right;
		}
	}

	
}

