@import "vars-colors.scss";

.nav-menu {

	display: flex;
	position: relative;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;

	&__item {
		margin-right: 16px;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__menu-burger {
		position: relative;
		margin: 4px 16px 0 0;
	}

	&__item-logo {
		width: 100px;
		height: 50px;
	}

	&__link {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		text-decoration: none;
		transition: all 0.3s;
	}
	&__link::after {
		content:'';
		width: 100%;
		height:3px;
		background:$borderBg;
		position:absolute;
		opacity: 0;
		left:0px;
		bottom:-15px;
		transition: 0.5s;
	}
	&__link:hover.nav-menu__link::after {
		
		transform: scale(1.05);
		opacity: 0.8;
	}

	&__label {
		display: none;
		font-size: 16px;
		letter-spacing: -0.2px;
		line-height: 24px;
		color: $textCol;
		font-weight: 500;
	}

}

.nav-menu--middle-screen {
	margin-right: 42px;
	display: none;
}

.nav-menu--pseudo-left::before {
	content: "";
	width: 2px;
	height: 32px;
	background:$pseudoCol;
	position: absolute;
	left: -21px;
	top: 4px;
}

@media (min-width:768px){
	.nav-menu--middle-screen{
		display: flex;
	}
	.nav-menu__menu-burger{
		margin-right: 42px;
	}
	.nav-menu__menu-burger::after{
		content: "";
		width: 2px;
		height: 32px;
		background: $pseudoCol;
		position: absolute;
		right: -20px;
		top: 4px;
	}

}

@media (min-width:1440px){
	.nav-menu__item a{
		display: flex;
	}
	.nav-menu__item{
		margin-right: 32px;
	}
	.nav-menu__link{
		display: flex;
		align-items: center;
		width: auto;
		height: auto;
	}
	.nav-menu__label{
		display: block;
		margin-right: 9px;
	}
	.nav-menu--middle-screen,
	.nav-menu--pseudo-left::before{
		display: none;
	}

}