@import "vars-colors.scss";

.button-action{
	font-family: "TT Lakes";
	position: relative;
	background: $butMenuCol;
	padding: 5px 26px 5px 12px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	text-align: right;
	border: none;
	border-radius: 16px;
	text-transform: uppercase;
	transition: 0.3s;

	&::after{
		content:'';
		width:7px;
		height:10px;
		background:transparent url(../img/icon/dropdown.svg) no-repeat;
		position:absolute;
		right:12px;
		top:35%;
	}

	&:hover{
		transform: translateX(1px) scale(1.02);
		opacity: 0.8;
		color: rgba($color: $borderBg, $alpha: 0.9);
	}

	&:active{
		filter: invert(1);
	}
}