.mobile-menu {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	position: relative;
	top: 0;
	left: 0;
	width: 320px;

	&__container{
		padding: 13px 24px 32px 24px;
	}
	&__item-logo{
		margin: 5px 0 0 0;
	}
	&__list-item{
		margin-top: 38px;
	}
	&__email {
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: -0.2px;
		color: #1b1c21;
		margin: 20px 0 0 0;
	}
	&__phone {
		font-size: 24px;
		line-height: 24px;
		letter-spacing: -0.6px;
		font-weight: bold;
		color: #1b1c21;
		margin: 20px 0 0 0;
	}
	&__list-change-lang {
		margin-top:14px;
	}

	@media (min-width:768px){
		&__list-change-lang{
			margin-top: 42px;
		}
	}
	&__change-button {
		margin-right: 7px;
	}
	
	

	@media (min-width:1440px){
		&{
			display: flex;
		}

		&__button-close{
			display: none;
		}

		&__footer{
			margin-top: 170px;
		}
	}

	&--absolute{
		display: flex;
		position: fixed;
		height: 100vh;
		top: 0;
		left: -320px;
		transform: translateX(320px);
		z-index: 1000;
		box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
	}
}









