.flex-container{
	display: block;
	flex-direction: row-reverse;
	position: relative;

	&__content{
		position: relative;
		transition: all 0.3s;
		&--blur{
			filter: opacity(0.4) blur(1px);
		}
		@media (min-width:1440px){
			&{
				width: calc(100% - 320px);
			}
		}
		
	}
	&__mobile-menu{
		position: fixed;
		z-index: 1000;
		left: 0;
	}


	@media (min-width:1440px){
		&{
			display: flex;
		}
	}

}

