@import "vars-colors.scss";

.footer{
	background: $bgColor;
	padding: 40px 0;
	&__footer-info{
		border-top: 1px solid $borderBg;
		padding: 16px 10px 10px 10px;
	}

	@media (min-width:768px){
		&__footer-info{
			padding:32px 24px 0 24px
		}
	}
}