

.main {

	background-color:#F8F8F8;
	padding-top: 21px;
	min-height: 100vh;

	&__slider {
		margin-bottom: 24px;
	}

	@media (min-width:768px){
		&{
			padding-top: 32px;
		}
	}
	@media (min-width:1120px){
		&{
			padding-top: 8px;
		}
	}
}
.container-menu {
	padding:0 18px;


	@media (min-width:768px) {
		&{
			padding: 0 24px;
		}
	}
	
	@media (min-width:1120px) {
		&{
			padding: 0 34px;
		}
	}
}