
@import "fonts.scss";


html,body {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }

  body{
	font-family: "TT Lakes","Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	min-width: 320px;
	margin: 0;
	padding: 0 0;
	overflow-x:hidden;
	min-width: 320px;
  }


@import "flex-container.scss";

@import "header/header.scss";
@import "header/nav-header.scss";

@import "lists-&-menu/nav-menu.scss";
@import "lists-&-menu/list-item.scss";


@import "buttons/read-more.scss";
@import "buttons/button-action.scss";
@import "buttons/button-icon.scss";
@import "buttons/change-button.scss";

@import "title.scss";
@import "main/main.scss";
@import "main/slider.scss";
@import "main/description.scss";
@import "main/section.scss";
@import "main/commercial-link.scss";
@import "main/table-price.scss";

@import "swiper/swiper.scss";
@import "swiper/slide-content.scss";

@import "footer/footer.scss";
@import "footer/footer-info.scss";

@import "modal-window/mobile-menu.scss";
@import "modal-window/feedback.scss";