@import "vars-colors.scss";

.title{
	position: relative;
	font-size: 28px;
	letter-spacing: -0.6px;
	line-height: 40px;
	margin: 0;
	&::before{
		content: "";
		background: $borderBg;
		width: 8px;
		height: 40px;
		position: absolute;
		left: -5px;
		top: 25px;
		border-radius: 10px;
	}

	@media (min-width:768px) {
		&{
			padding: 24px 0 0 24px;
		}
	}
	
	@media (min-width:1120px) {
		&{
			padding: 42px 0 0 32px;
			&::before{
				top: 42px;
			}
		}
	}
}


